body {
  background: #ddd;
  display: flex;
  flex-wrap: wrap;
  font-family: sans-serif;
}

.block {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 200px;
  margin: 16px;
  background: #fff;
  font-size: 32px;
}

.html-color {
  background-color: lemonchiffon;
}

.hex-color {
  background-color: #2dede4;
}

.rgb-color {
  background-color: RGB(237, 45, 103);
}

.rgba-color {
  background-color: RGBA(237, 45, 103,50%);
}

.hsl-color {
  background-color: HSL(113, 84%, 55%);
}

.hsla-color {
  background-color: HSL(113, 84%, 55%,50%);
}

.image {
  background: url(https://3.bp.blogspot.com/-_ksEGvwCCRg/Ui5EE_59HII/AAAAAAAAAqs/ZgySYBLf8H8/s1600/Torta+Chiffon.jpg);
  background-size: cover;
  background-position: center;
}
